<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    
    <context:component-scan base-package="com.zhiyou.clouddisk.controller"/>
    <!-- 启用springmvc注解 -->
	<mvc:annotation-driven/>
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**/*"/>
			<mvc:exclude-mapping path="/js/**/*"/>
			<mvc:exclude-mapping path="/css/**/*"/>
			<mvc:exclude-mapping path="/images/**/*"/>
			<mvc:exclude-mapping path="/regist"/>
			<mvc:exclude-mapping path="/login"/>
			<bean class="com.zhiyou.clouddisk.spring.LoginCheckInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	<!-- 配置json返回转换 -->
	<bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
				<value>text/plain;charset=UTF-8</value>  
                <value>application/json;charset=UTF-8</value> 
			</list>
		</property>
	</bean>
	<!-- 配置springmvc 模型视图解析 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	<!-- 支持文件上传ID为multipartResolver -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
	<!-- 静态资源文件路径配置 -->
	<mvc:resources location="/images/" mapping="/images/**"></mvc:resources>
	<mvc:resources location="/js/" mapping="/js/**"></mvc:resources>
	<mvc:resources location="/css/" mapping="/css/**"></mvc:resources>
</beans>